<div class="row">

    <div class="col l12 col m12 " style="margin-bottom: 30px">
        <div class="breadcrumb z-depth-1 center-align" style="background: #fff; padding: 0px 0px 5px 0px">
            <div class="page-title">Catch up with the latest!</div>
        </div>
    </div>

    <div class="col l12 col m12 col s12 order-quates">

        <div class="col l6 col m6 col s12  offset-l1 ">
            <div class="col l4 col m4 col s6">
                <input type="checkbox" class="filled-in" id="clothing"/>
                <label for="clothing">Clothing</label>
            </div>
            <div class="col l4 col m4 col s6">
                <input type="checkbox" class="filled-in" id="appliances"/>
                <label for="appliances">Appliances</label>
            </div>
            <div class="col l4 col m4 col s6">
                <input type="checkbox" class="filled-in" id="technology"/>
                <label for="technology">Technology</label>
            </div>
            <div class="col l4 col m4 col s6">
                <input type="checkbox" class="filled-in" id="house"/>
                <label for="house">House & Home</label>
            </div>
            <div class="col l4 col m4 col s6">
                <input type="checkbox" class="filled-in" id="stationary"/>
                <label for="stationary">Stationery</label>
            </div>
            <div class="col l4 col m4 col s6">
                <input type="checkbox" class="filled-in" id="industrial"/>
                <label for="industrial">Industrial & Farming</label>
            </div>
        </div>
        <div class="col l3 col m3 col s9">
            <input placeholder='Email Address' id="coupon" type="email" class="validate" />
        </div>
        <div class="col l1 col m1 col s3">
            <button class="btn" style="background: red" type="button">Subscribe</button>
        </div>
    </div>

</div>
<footer class="page-footer">

    <div class="row hide-on-med-and-up">
        <div class="col s12">
            <div class="twitter" style="width: 100%">
                <a class="twitter-timeline" href="https://twitter.com/hashtag/Aardath" data-widget-id="738810499610083328" data-chrome="nofooter ">#Aardath Tweets</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col l12 col m12 col s12">
                <ul>
                    <li class="footer-title">Aardath Services</li>
                    <li><a href="#">Aardath Clothing</a></li>
                    <li><a href="#">Aardath Stationery</a></li>
                    <li><a href="#">Dial-a-Tech</a></li>
                    <li><a href="#">Courier Services</a></li>
                </ul>
                <ul>
                    <li class="footer-title">Customer Care</li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Live Chat</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
                <div class="twitter hide-on-small-only">
                    <a class="twitter-timeline" href="https://twitter.com/hashtag/Aardath" data-widget-id="738810499610083328" data-chrome="nofooter ">#Aardath Tweets</a>
                </div>
                <ul>
                    <li class="footer-title">Aardath.com</li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">About our Ads</a></li>
                    <li><a href="#">Privacy & Security</a></li>
                </ul>
                <ul>
                    <li class="footer-title">Get to know us</li>
                    <li><a href="#">About Aardath</a></li>
                    <li><a href="#">Corporate</a></li>
                    <li><a href="#">Suppliers</a></li>
                    <li><a href="contact.php">Contact Us</a></li>
                </ul>
            </div>
        </div>

    </div>
    <!-- Footer Bottom -->
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <!-- Copyright Text -->
                <div class="col l4 col m12 col s12">
                    &copy; Copyright 2016 MarketPlace by Aardath
                </div>
                <div class="col l4 col m12 col s12">
                    <!-- Social Icon -->
                    <div class="social-icon center-align">
                        <a href="http://www.facebook.com/aardath"><i class="fa fa-facebook"></i></a>
                        <a href="http://www.twitter.com/aardath"><i class="fa fa-twitter"></i></a>
                        <a href="http://www.instagram.com/aardath"><i class="fa fa-instagram"></i></a>
                        <a href="http://www.youtube.com/aardath"><i class="fa fa-youtube"></i></a>
                        <a href="http://www.linkedin.com/aardath"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col l4 col m12 col s12">
                    <img src="images/payment_icons.png" style="height: 50px; width: auto; margin-top: 25px"/>
                    <!-- Footer Menu -->
                    <div class="footer-menu">

<!--                        <ul>-->
<!--                            <li>-->
<!--                                <a href="#">Privacy</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">Advertisement</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="contact.php">Contact us</a>-->
<!--                            </li>-->
<!--                        </ul>-->
                    </div>
                </div>
<!--                <div class="col l4 col m12 col s12">-->
                        <!-- Footer Menu -->
<!--                    <div class="col l8 col m8 col s12">-->
<!--                        <input placeholder='Email Address' id="coupon" type="email" class="validate" />-->
<!--                    </div>-->
<!--                    <div class="col l4 col m4 col s12">-->
<!--                        <button class="btn" style="background: red" type="button" onclick="location.href='cart.php';">Subscribe</button>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</footer>