<div ng-controller="NavbarCtrl">

    <!-- Header Top Display In large and Tablet Device -->
    <div class="header-top hide-on-small-only">
        <div class="container">
            <div class="row">
                <div class="col l4 col m5 col s12">
                    <!-- Dropdown -->
                    <div class="col l4 col m3 col s12">
                        <!-- Logo -->
                        <div class="logo" style="width: 110%">
                            <a href="index.php"><img src="images/logo.png" alt="Logo"></a>
                        </div>
                    </div>
                </div>
                <div class="col l1 col m3 col s12 search-icon">
                    <i class="mdi-action-search prefix"></i>
                </div>
                <div class="col l3 col m3 col s12">
                    <!-- Search Button -->
                        <div class="top-search">

                            <form name="search" id="search" method="get" action="search.php" >
                            <input placeholder="Search by Keyword / Product / Brand" id="q" name="q" type="text" required/>
                            </form>

                        </div>
                </div>

                <div class="col l4 col m4 col s12 pull-right">

                    <!-- My Aardath -->
                    <ul class="cart-menu">
                        <li ><a href="cart.php">My Aardath</a>
                            <ul class="cart-menu">
                                <li><i class="fa fa-shopping-cart"></i><a href="/cart"> My Cart ({{cart.getTotalCount()}}) - {{cart.getTotalPrice() | currency:"$"}}</a></li>
                                <li><i class="fa fa-heart"></i><a href="#"> Favourites</a></li>
                                <li><i class="fa fa-magic"></i><a href="/wishlist"> Wish List ({{wishlist.getTotalCount()}})</a>
                                </li>
                                <li><i class="fa fa-gift"></i><a href="/gift"> Gift-({{ gift.getTotalCount()}}) </a></li>
                                <li><i class="fa fa-credit-card"></i><a href="/order"> My Purchases</a></li>
                                <li><i class="fa fa-user"></i><a href="/profile"> Personal Details</a></li>
                                <li><i class="fa fa-truck"></i><a href="/profile"> Delivery Details</a></li>
                                
                            </ul>
                        </li>
                    </ul>

                    <!-- Help -->
                    <ul class="account-menu" ng-hide="isAdmin()">
                        <li><a class="account-name" href="#">Help</a>
                            <ul class="cart-menu">
                                <li><i class="fa fa-phone"></i><a href="#"> +263 777 888 999</a></li>
                                <li><i class="fa fa-mobile-phone"></i><a href="chat"> Live Chat</a></li>
                                <li><i class="fa fa-question-circle"></i><a href="#"> FAQs</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="account-menu" ng-show="isAdmin()">
                          
                        <li   ><a class="account-name">Administration</a>
                            <ul class="cart-menu">
                                
                         <li ng-show="isAdmin()" ng-class="{active: isActive('/product')}">
                    <a href="/product"><i class="fa fa-truck">&nbsp;</i>Products</a>
                  </li>
                  <li ng-show="isAdmin()" ng-class="{active: isActive('/category')}">
                    <a href="/category"><i class="fa fa-ticket">&nbsp;</i>Categories</a>
                  </li>
                  <li ng-show="isAdmin()" ng-class="{active: isActive('/brand')}">
                    <a href="/brand"><i class="fa fa-tag">&nbsp;</i>Brands</a>
                  </li>
                  <li ng-show="isAdmin()" ng-class="{active: isActive('/feature')}">
                    <a href="/feature"><i class="fa fa-tag">&nbsp;</i>Features</a>
                  </li>
                  <li ng-show="isAdmin()" ng-class="{active: isActive('/coupon')}">
                    <a href="/coupon"><i class="fa fa-tag">&nbsp;</i>Coupons</a>
                  </li>
                  <li ng-show="isLoggedIn()" ng-class="{active: isActive('/order')}">
                    <a href="/order"><i class="fa fa-road">&nbsp;</i>Orders</a>
                  </li>
                         

                            </ul>
                        </li>
                    </ul>

                        <ul class="account-menu">
                          
                        <li   ng-show="isLoggedIn()"><a class="account-name">Welcome  {{ getCurrentUser().name }}</a>
                            <ul class="cart-menu">
                                <li><i class="fa fa-user"></i><a href="/profile"> View Profile</a></li>
                                 <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}">
                            <a href="/settings"><i class="fa fa-user">&nbsp;</i>Change Password</a>
                          </li>
                                <li><i class="fa fa-sign-out"></i><a ng-click="logout()"> Log Out</a></li>

                            </ul>
                        </li>
                    </ul>
                      
                       

                </div>
            </div>
        </div>
    </div>

    <!-- Header top Display On Mobile -->
    <div class="header hide-on-med-and-up">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col l4 col m5 col s2">
                        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i
                                class="mdi-navigation-menu"></i></a>
                    </div>
                    <div class="col l4 col m4 col s5">
                        <!-- Dropdown -->
                        <div class="header-dropdown">
                            <!-- Dropdown Trigger -->
                            <div class="col l4 col m3 col s12">
                                <!-- Logo -->
                                <div class="logo">
                                    <a href="index.php"><img src="images/logo.png" alt="Logo"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 col m4 col s3">
                        
                            <!-- Logout Link -->
                            <a href="login/includes/logout.php" class="login">Logout</a>
                           
                            <!-- Login Link -->
                            <a href="login.php" class="login">Login</a>
                           

                    </div>
                    <div class="col l4 col m4 col s2">
                        <!-- Search Button -->
                        <form class="searchbox">
                            <input type="text" placeholder="Type and Press Enter" name="search" class="searchbox-input"
                                   required>
                            <input type="submit" class="searchbox-submit">
                            <span class="searchbox-icon"><i class="mdi-action-search"></i></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="container">
                <div class="row">
                    <div class="col l4 col m4 col s12">
                        <!-- Shopping Cart -->
                        <ul class="cart-menu">
                            <li><i class="mdi-action-shopping-basket"></i>
                                <ul>
                                    <li>
                                        <!-- Product Image -->
                                        <div class="product-image">
                                            <img alt="Product" class="responsive-img"
                                                 src="images/products/product2.jpg">
                                        </div>
                                        <div class="product-detail">
                                            <!-- Product Name -->
                                            <div class="product-name">
                                                Our legacy of six Shirt<a href="javascript:void(0);"><i
                                                    class="mdi-action-highlight-remove"></i></a>
                                            </div>
                                            <!-- Product Price -->
                                            <div class="product-price">
                                                $198.00
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <!-- Product Image -->
                                        <div class="product-image">
                                            <img alt="Product" class="responsive-img"
                                                 src="images/products/product4.jpg">
                                        </div>
                                        <!-- Product Name -->
                                        <div class="product-name">
                                            Dress Orchid<a href="javascript:void(0);"><i
                                                class="mdi-action-highlight-remove"></i></a>
                                        </div>
                                        <!-- Product Price -->
                                        <div class="product-price">
                                            $217.00
                                        </div>
                                    </li>

                                    <li>
                                        <!-- Product Image -->
                                        <div class="product-image">
                                            <img alt="Product" class="responsive-img"
                                                 src="images/products/product10.jpg">
                                        </div>
                                        <!-- Product Name -->
                                        <div class="product-name">
                                            Our legacy of six Shirt<a href="javascript:void(0);"><i
                                                class="mdi-action-highlight-remove"></i></a>
                                        </div>
                                        <!-- Product Price -->
                                        <div class="product-price">
                                            $299.00
                                        </div>
                                    </li>

                                    <li>
                                        <!-- Shopping cart button -->
                                        <button class="btn btn-flat waves-effect waves-light checkout" type="button" onclick="location.href='cart.php';"
                                                name="action">Shopping Cart
                                        </button>
                                        <!-- Checkout button -->
                                        <button class="btn btn-flat waves-effect waves-light checkout" type="button" onclick="location.href='cart.php';"
                                                name="action">Checkout
                                        </button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation -->
    <nav role="navigation" class="hide-on-small-only">
            
                <span href="#" data-activates="slide-out" class="button-collapse show-on-large"><a href="#"> <md-button ng-click="toggleLeft()"
                     ng-hide="isOpenRight()"
                     class="pull-left" style="background: none; padding-top: -10px;">
            <i class="fa fa-bars fa-2x center" aria-hidden="true"></i>
          </md-button></i></a></span>
                  <div class="nav-wrapper menu-category " style="background-color: #757575;height:65px">
                <ul>
                    <li>
                        <ul class="marketplace-category-dropdown">
                            <li><a href="/">CLICKMART</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="marketplace-category-dropdown">
                            <li><a href="/mainmp">E-LIFESTYLE</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="marketplace-category-dropdown">
                            <li><a href="/mainoi">ORDER IN</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="marketplace-category-dropdown">
                            <li><a href="maintng">TICKETING</a></li>
                        </ul>
                    </li>
                     <li>
                        <ul class="marketplace-category-dropdown">
                            <li><a href="click-a-service">CLICK A SERVICE</a></li>
                        </ul>
                    </li>
                </ul>
             


        </div>
                
                
              
              
    </nav>

</div>
