<!-- Sidebar Navigation -->
<ul id="slide-out" class="side-nav full">
    <li class="logo-title center-align"><a href="javascript:void(0);">Products & Services</a></li>
    <li class="waves-effect"><a href="index.php"><i class="fa fa-home"></i>Home</a></li>
   
            <li class="dropdown-menu">
                    <ul class="collapsible" data-collapsible="expandable">
                        <li class="">";
                      <div class="collapsible-header waves-effect waves"><i class="fa fa-tags"></i><span>Title</span><i class="fa fa-angle-right"></i></div>
                            <div style="display: none;" class="collapsible-body">
                                    <ul>
                            <li class="waves-effect"><a href="#"><i class="fa  fa-caret-right"></i>Title sub</a>
                           </ul>
                            </div>
                        </li>
                    </ul>
                </li>
</ul>