<div class="col-md-12" style="margin-top:20px">
    <ul class="breadcrumb">
        <li><a href="/">Home</a>
        </li>
        <li>Checkout</li>
    </ul>
</div>

<div class="col-md-7" id="checkout">

    <div class="box" style="margin-left:100px;margin-right:50px;min-height:1000px">
      <form name="checkout_form" class="form-horizontal" role="form" novalidate ng-show="cart.getTotalCount() > 0">

      <div class="panel-body">

               <div class="input-field">
             
              <div >
                 <span class="block input-icon input-icon-right">
                    <div class="input-group">
                      <div class="input-group-addon">{{customer.country.dial_code}}</div>
                      <input type="text" name="phone" class="form-control"  ng-model="customer.phone" required="" tabindex="1" autofocus only-numbers/>

                    </div>
                    <small class="errorMessage" ng-show="checkout_form.phone.$dirty && checkout_form.phone.$error.isCustomer"> Your phone number required.</small>
                  </span>
              </div>
          </div>

          <div class="input-field">
               <div >
                 <span class="block input-icon input-icon-right">
                      <input type="text" ng-model="customer.name" name="name"  required  tabindex="2"/>
                      
              <small class="errorMessage"
               ng-show="checkout_form.name.$dirty && checkout_form.name.$invalid"> Your name required.</small>
                  </span>
              </div>
          </div>

          <div class="input-field">
              <div >
                 <span class="block input-icon input-icon-right">
                     <textarea name="address" ng-model="customer.address"  required placeholder="Address"  tabindex="4"></textarea>
             
             <small class="errorMessage"
               ng-show="checkout_form.address.$dirty && checkout_form.address.$invalid"> We need your address to deliver.</small> </span>
              </div>
          </div>

          <div class="input-field">
             
              <div >
                 <span class="block input-icon input-icon-right">
                      <select style="border: 1px solid #c7c7c7;height: 50px;padding: 0 10px;border-radius: 3px;" name="surburb" ng-model="customer.suburb"  required="" ng-options="option.name for option in suburbs | orderBy:'name'" ng-change="calculateShipping(customer.suburb);" class="form-control">
                      <<option value="Surburb"></option>}
                      option
                      </select>
                      

  <small class="errorMessage"
       ng-show="checkout_form.surburb.$dirty && checkout_form.surburb.$invalid"> Please select your surburb.</small>
                  </span>
              </div>
          </div>

<!--
          <div  class="input-field">
             <div >
                 <span class="block input-icon input-icon-right">
                      <input type="text" name="city" ng-model="customer.city" class="form-control"  tabindex="5"/>
                       <label  control-label no-padding-right"> City </label>
          <small class="errorMessage"
               ng-show="checkout_form.city.$dirty && checkout_form.city.$invalid"> Please select your city.</small>
                          </span>
              </div>
          </div>


          <div class="input-field">
              <div >
                 <span class="block input-icon input-icon-right">
                      <input type="text" name="state" ng-model="customer.state" class="form-control" tabindex="6"/>
                        <label  control-label no-padding-right"> State </label>
  <small class="errorMessage"
       ng-show="checkout_form.state.$dirty && checkout_form.state.$invalid"> Please select your state.</small>
                  </span>
              </div>
          </div>
-->

         <!-- <div  class="input-field">
              <div >
                 <span class="block input-icon input-icon-right">
                      <input type="text" name="zip" ng-model="customer.zip" class="form-control"  tabindex="6"/>
                        <label  control-label no-padding-right"> Zip </label>
  <small class="errorMessage"
       ng-show="checkout_form.zip.$dirty && checkout_form.zip.$invalid"> Please select your state.</small>
                  </span>
              </div>
          </div>-->

             <div class="input-field">
              
              <div>
                 <span >
                      <select  style="border: 1px solid #c7c7c7;height: 50px;padding: 0 10px;border-radius: 3px;"  name="country" ng-model="customer.country"  required="" ng-options="option.name for option in countries | orderBy:'name' track by option.code" ng-change="calculateShipping(customer.country);"  class="form-control">
                      </select>

             <small class="errorMessage"
                  ng-show="checkout_form.country.$dirty && checkout_form.country.$invalid"> Please select your country.</small>
                  </span>
              </div>
          </div>



          <div class="input-field">
              
              <div>
                 <span class="block input-icon input-icon-right">
                      <select name="paymentMethod" style="border: 1px solid #c7c7c7;height: 50px;padding: 0 10px;border-radius: 3px;" ng-model="customer.paymentMethod" class="form-control" required="" ng-options="option.name for option in paymentMethods | orderBy:'name' track by option._id" >
                      </select>

  <small class="errorMessage"
       ng-show="checkout_form.paymentMethod.$dirty && checkout_form.paymentMethod.$invalid"> Please select payment method.</small>
                  </span>
              </div>
          </div>


          <div class="input-field">
              
              <div >
                 <span class="block input-icon input-icon-right">
                      <input type="text" name="coupon" ng-model="customer.coupon" placeholder="Coupon Code" class="form-control" tabindex="5" ng-change="checkCoupon(customer.coupon, cart.getTotalPrice());"/>
                      <span class="text-muted text-success" ng-if="coupon.code">{{coupon.type}} of {{coupon.amount | currency}} was applied to the cart</span>
  <small class="errorMessage"
       ng-show="checkout_form.coupon.$dirty && checkout_form.coupon.$invalid"> Discount coupon was expired.</small>
                  </span>
              </div>
          </div>


          <div>
      
                      <input type="checkbox"  ng-model="customer.future" class="filled-in" id="industrial" />
                       <label > Future Delivery</label>
          </div>

           <div  >
              <label  control-label no-padding-right">Date for Delivery</label>
              <div >

              <div class='input-field' id='datetimepicker1'>
                         <i class="fa fa-calendar" aria-hidden="true"></i>
                    <input type='date'  ng-model="customer.date" tabindex="5" class="form-control"/>
                
       
                        <small class="errorMessage"
       ng-show="checkout_form.date.$dirty && checkout_form.date.$invalid"> Please enter date of delivery.</small>
                    </span>
                </div>
                 
              </div>
          </div>


          <label  control-label no-padding-right">Time of  Delivery</label>
          <div class="input-field" >
             
                 <span >
                      <input type="time" name="delivery" ng-model="customer.time"  tabindex="5"/>
  <small class="errorMessage"
       ng-show="checkout_form.time.$dirty && checkout_form.time.$invalid"> Please enter time of delivery.</small>
                  </span>
              </div>
          </div>

            </div>
            </div>
            <div class="box-footer">
                <div class="pull-left">
                    <a href="/" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to basket</a>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="placeOrder(cart.items,cart.getTotalPriceAfterShipping(shipping , coupon.amount));cart.checkout({paymentMethod:customer.paymentMethod, options: cart.getTotalPriceAfterShipping(shipping , coupon.amount)},true);cart.clearItems();" ng-disabled="checkout_form.$invalid" tabindex="6">Make Payment<i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            </form>
    </div>
    <!-- /.box -->


</div>
<!-- /.col-md-9 -->

<div class="col-md-5">

    <div class="box" id="order-summary" ng-if="cart.getTotalCount()>0">
        <div class="box-header">
            <h5>Order summary</h5>
        </div>
        <p class="text-muted">Shipping and additional costs are calculated based on the total weight and selected country.</p>

        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Order subtotal</td>
                        <th>{{cart.getTotalPrice() | currency}}</th>
                    </tr>

                    <tr ng-if="shipping">
                        <td>Shipping and handling</td>
                        <td ng-if="cart.getTotalPriceAfterShipping(shipping , coupon.amount).charge==0">
                            Free Shipping {{cart.getTotalPriceAfterShipping(shipping , coupon.amount).carrier}}
                        </td>
                        <td ng-if="cart.getTotalPriceAfterShipping(shipping , coupon.amount).charge>0">
                            {{cart.getTotalPriceAfterShipping(shipping , coupon.amount).charge | currency}} {{cart.getTotalPriceAfterShipping(shipping , coupon.amount).carrier}} <br/>
                                                    </td>
                    </tr>
                    <tr ng-if="cart.getTotalPriceAfterShipping(shipping , coupon.amount).couponAmount">
                        <td>Coupon Discount</td>
                        <td><small>{{cart.getTotalPriceAfterShipping(shipping , coupon.amount).couponAmount | currency}}</small></td>
                    </tr>

                    <tr class="total">
                        <td>Total</td>
                        <th>
                            {{cart.getTotalPriceAfterShipping(shipping , coupon.amount).total  | currency}}
                        </th>
                        <!-- <th ng-if="cart.getTotalPrice() < shipping.minOrderValue">
                            {{cart.getTotalPriceAfterShipping(shipping , coupon.amount) | currency}}
                        </th> -->
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
<!-- /.col-md-3 -->
